.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center; 
  align-items: center;
  opacity: 0; 
  transition: opacity 0.5s ease; 
}

.modal.show {
  display: flex; 
  opacity: 1; 
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.modal-content {
  background-color: #fefefe;
  padding: 20px; 
  border: 1px solid #888; 
  width: 80%;
  max-width: 500px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
  border-radius: 8px; 
  position: relative; 
  animation: slideDown 0.5s ease-out forwards; 
}

/* Estilos del formulario */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  text-align: left;
}

input {
  padding: 7px;
  margin-bottom: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(0, 119, 255);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0077cc;
}

/* Estilos del enlace para recuperar la contraseña */
#forgotPassword {
  color: gray;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s;
}

#forgotPassword:hover {
  text-decoration: underline;
  color: #007bff;
}

/* Estilos del botón de cerrar */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s ease;
}

.modal.show .close {
  color: #000000; /* Cambiar color al mostrar el modal */
}

.close:hover {
  color: black;
}

/* Estilos de los botones de alternancia */
.toggle-password {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #007bff;
  font-size: 10px;
  text-align: start;
}

/* Estilos para mensajes de error */
.error-message {
  color: red;
  font-size: 13px;
  margin-top: -5px;
  margin-bottom: 15px;
}

/* Contenedores de enlaces */
.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* Botones para alternar entre formularios */
.message-forms {
  background: transparent;
  border: none;
  cursor: pointer;
  color: gray;
  margin-left: 10px;
  font-size: 12px;
  transition: color 0.3s;
}

#showLogin {
  margin-top: 20px;
}

.message-forms:hover {
  text-decoration: underline;
  color: #007bff;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
}

/* Títulos de los modales */
#login-title,
#register-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}
