@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&family=Ubuntu:wght@500&display=swap');

nav {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 800;
}

.navtittle {
  display: flex;
  align-items: center;
}

.imglogo {
  max-width: 200px;
  height: auto;
}

/* Lista del link */
.ulnav {
  list-style: none;
  text-transform: none;
  display: flex;
}

.listItem {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 0 1rem;
  padding: 0.3rem;
  font-size: 1.0rem;
  transition: color 0.3s ease;
}

.navlink {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navlink:hover {
  color: #165f98;
  transform: scale(2.1);
}

.menubar {
  background-color: transparent;
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #165f98;
  transition: transform 0.3s ease;
  
}

a {
  text-decoration: none;
  color: #000000;
}

/* Medida responsiva para dispositivos */
@media (max-width: 767px) {

  #menuIcon {
    display: inline;
  }

  #closeIcon {
    display: inline;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .menubar.open #menuIcon {
    opacity: 0;
    transform: scale(0);
  }

  .menubar.open #closeIcon {
    opacity: 1;
    transform: scale(1);
  }

  .imglogo {
    max-width: 120px;
    margin-right: 0.5rem;
  }

  .ullist {
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    border-radius: 0 0 0 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .ullistshow {
    transform: translateX(0);
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.5rem;
  }

  .menubar {
    display: inline-block;
  }

  .listItem {
    font-size: 1rem;
    margin: 0.5rem 0;
    width: 100%;
  }

  .menubar i {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .menubar.open #menuIcon {
    opacity: 0;
    transform: scale(0);
  }

  .menubar.open #closeIcon {
    opacity: 1;
    transform: scale(1);
  }

  #closeIcon {
    opacity: 0;
    transform: scale(0);
  }
}

.btn-signin {
  cursor: pointer;
  position: relative;
  padding: 3px 12px;
  font-size: 18px;
  color: #165f98;
  border: 2px solid #165f98;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 100;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.btn-signin::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #165f98;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-signin:hover::before {
  scale: 3;
}

.btn-signin:hover {
  color: #ffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.btn-signin:active {
  scale: 1;
}

.hide {
  display: none;
}